.carousel-inner img{
    height: 500px;
}
.card-body i {
 font-size: 40px;
}
.cyberseguridad img{
height: 750px;
}
footer i {
    font-size: 17px;
    
}
.informacionGeneralSeguridad img {
    height: 320px;
    width: 550px;
}

.imgContacto{
  
  width: 100%; 
  height: 100%; 
  object-fit: cover;
   
}
